* {
    box-sizing: border-box;
    margin: 0 auto;
}

img {
    width: 100%;
}

.imgLogos {
    filter: invert(100%);
    width: 5%;
    margin-left: 30px;
}

.lamparaLogo {
    width: 4%;
}

.laptopLogo {
    width: 6%;
    margin-left: 20px;
}

.containerLogos {
    background: #00647f;
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}
/* -- ESTILOS FUENTES -- */

:root {
    font-size: 16px;
}

h1,h2,h3, li {
    font-family: 'Rubik';
}

li {
    font-size: 1.3rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: 'Kumbh Sans';
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

/* font-family: 'Kumbh Sans', sans-serif;
font-family: 'Rubik', sans-serif; */