.containerProfilePhoto .perfLogo {
    // width: 25%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    header {
        width: 100%;
        position: inherit;
        height: 45px;
        top: 0;
        padding: 10px 5%;
        margin-bottom: 39px;
    }

    header .perfLogo {
        float: left;
    }

    header nav {
        float: right;
    }

    header nav .navigationContainer ul {
        width: 100%;
        position: absolute;
        top: 45px;
        top: 0;
        right: 0;
        overflow: hidden;
        list-style: none;
        height: 0px;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform 0.5s ease;
    }
    header nav .navigationContainer  ul li {
        position: relative;
        display: block;
    } 
    header nav .navigationContainer  ul li:hover {
        background: #6ba5b5;
    } 
    header nav .navigationContainer ul li a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        padding: 16px 5%;
        line-height: 28px;
        display: block;
    }
    header nav .navigationContainer  ul li a:hover {
        color: #fff;
    }

    .navigationContainer {
        input {
            &:checked ~ ul{
                background: #00647f;
                height: auto;
                transform: translateX(0);
                transition: transform 0.5s ease-in-out;
                margin-top: 50px;
            }
        }
    }

    header nav .navigationContainer {
        padding-top: 2px;
    }

    header nav .navigationContainer input {
        display: block;
        width: 40px;
        height: 32px;
        opacity: 0;
        z-index: 2;
        position: absolute;
    }

    header nav .navigationContainer span {
        display: block;
        width: 25px;
        height: 2.5px;
        margin-bottom: 6.5px;
        position: relative;
        background: #060A24;
        z-index: 1;
        transform-origin: 3px 0px;
        transition: transform 0.5s ease,
        opacity 0.55s ease;
    }

    header nav .navigationContainer span:first-child {
        transform-origin: 0% 0%;
    }

    header nav .navigationContainer span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    header nav .navigationContainer input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(2px, 1px);
    }
    header nav .navigationContainer input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    header nav .navigationContainer input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 0px);
    }
    
    .containerProfilePhoto .perfLogo {
        width: 25%;
        border-radius: 50%;
    }
}

@media screen and (min-width: 769px) {

    // nav {

    // }
    input#checkbox {
        display: none;
    }
    
    ul {
        margin-left: -40px;
    }

    li {
        line-height: 25px;
        font-size: 1.2rem;
    }

    a:link {
        color: #ffffff;
    }

    a:visited {
        color: #ffffff;
    }
    
    a:hover {
        background-image: linear-gradient(180deg, #37d4ff63 0%, #37d4ff2e 100%);
    }

    a:active {
        color: aqua;
    }

    .navContainer {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #00647f;
        overflow-x: hidden;
    }

    nav.Container a {
        padding: 6px 8px 6px 8px;
        text-decoration: none;
        font-size: 1rem;
        color: #ffffff;
        display: block;
    }

    .navigationContainer {
        border-top-style: solid;
        border-top-color: #6ba5b5;
        border-top-width: thin;
    }

    .navigationContainer a {
        text-align: center;
        padding: 7px 8px 7px 8px;
        display: block;
        border-bottom: solid;
        border-bottom-color: #6ba5b5;
        border-bottom-width: thin;
    }

    .containerProfilePhoto .perfLogo {
        width: 70%;
        border-radius: 50%;
        margin: 14%;
    }
}